
.pTituloActa1 {
           font-size: 14px;
    font-family:  Arial;
    color: rgb(0 0 0);
    font-weight: bold;
    padding: 8px;
    margin: 0px;
}
.pTituloActa2{
             font-size: 15px;
           font-family:  Arial;
           color: rgb(0 0 0);
           padding: 1px;
           margin: 0px;
           margin-left: 6px;
           text-align: left;
}
.pTituloActa3{
     font-size: 11px;
     font-family:  Arial;
     color: rgb(0 0 0);
     padding: 0px;
     margin: 0px;
     text-align: left;
}
.pTituloActa4{
      font-size: 11px;
      font-family: Arial;
      color: rgb(0 0 0);
      padding: 8px;
      margin: 0px;
      text-align: justify;
      line-height: 10px;
}
.pTituloActa5{
      font-size: 11px;
    font-family: Arial;
    color: rgb(0 0 0);
       padding: 3px;
    margin: 0px;
	margin-left:10px;
    text-align: justify;
    line-height: 12px;
}

.pTituloActa6{
      font-size: 11px;
    font-family: Arial;
    color: rgb(0 0 0);
    padding: 3px;
    margin: 0px;
	margin-left:17px;
    text-align: justify;
    line-height: 12px;
}
.tableRegistroSearch
{
	width: 650px;
height: 33px;background-color: #fff;font-size: 12px;font-family:  Arial;color: #1b1b1b;text-align:center;border-left:solid 1px #cecece;border-right:solid 1px #cecece;border-bottom:solid 1px #cecece;cursor:pointer;
}
.tableRegistroCabecera
{
	width: 650px;
height: 33px;background-color: #fff;font-size: 12px;font-family:  Arial;color: #1b1b1b;text-align:center;border:solid 1px #cecece;
font-weight:bold;
}
.td1{
	font-size: 12px;font-family:  Arial;color: #1b1b1b;
}
.pTituloActa7{
         font-size: 12px;
         font-family: Arial;
         color: rgb(0 0 0);
         padding: 0px;
         margin: 0px;
         text-align: center;
         width: 70%;
         border-top: dashed 1px #000;
         padding: 13px;
}
