 .principalRepor
 {
 width:768px;
 /* margin-left: 30px; */
 margin-top: 27px;
 height: 450px;
 border: solid 2px transparent;
 } 
 .divTitulo1 {
	 margin-left: 227px;
	 margin-top: 10px;
	 
	}
 .pTituloReport {
          font-size: 10px;
          font-family: Arial;
          color: rgb(0 0 0);
          margin: 0px;
}
.pTituloReportXContado{
	width: 100%;
	text-align:right;
	font-size:10px;
    font-family: Arial;
    color: rgb(0 0 0);
    margin: 0px;
	float:right;
	margin-right: 265px;
	margin-top: 5px;

}
.tableRegistroFactura {width: 100%;font-size: 10px;font-family:  Arial;color: #000;}
.pNroFactura1{
	width: 100%;
	text-align:right;
	font-size:10px;
    font-family: Arial;
    color: rgb(0 0 0);
    margin: 0px;
	margin-top: -15px;
}
.TdCantidadFactura{
	width: 11%;
	text-align: center;
}
.TdPrecioFactura{
	text-align: center;
}
.TdDescripcionFactura{
	width: 39%;
	font-size:8px;
}

.pFacturaTotalExentas{
	width: 100%;
	text-align:right;
	font-size:10px;
    font-family: Arial;
    color: rgb(0 0 0);
    margin-left: -176px;
	margin-top:4px;
}
.TablaDetalleFactura{
	height: 46%;
	margin-left: 10px;
}
.pNroFacturaTotal{
	width: 100%;
	text-align:right;
	font-size:11px;
    font-family: Arial;
    color: rgb(0 0 0);
    margin: 0px;
	margin-left: -10px;
	float: left;
	margin-top: -11px;

}

.DivSeparadorTablaFactura1{
	
	height: 30px;
}
.DivSeparadorTablaFactura2{
	
	height: 70px;
}

.DivSeparadorTablaTitulo{
	height: 33px;
}
@page { 
    margin-top: 0cm; 
    margin-bottom: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
}
	@media screen {
  @page { 
    margin-top: 0cm; 
    margin-bottom: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
}
}

@media print {
  @page { 
    margin-top: 0cm; 
    margin-bottom: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
}
}