@import url('pantallas-base.css');

/* TAMANHO DE FORMULARIOS */
.divMenuTamnho2 { width: 350px; min-height: 400px; }
.divMenuTamnho3 { width: 450px; min-height: 400px; }
.divMenuTamnho6 { width: 600px; min-height: 400px; }
.divMenuTamnho10 { width: 850px; min-height: 400px; }
.divMenuTamnho12 { width: 900px; min-height: 400px; }
.divMenuTamnho14 { width: 950px; min-height: 400px; }
.divMenuTamnho21 { width: 1280px; min-height: 400px; }
.divMenuTamnho22 { width: 1300px; min-height: 400px; }
.divMenuTamnho23 { width: 1300px; min-height: 400px; }

/* TAMANHO DE TABLES */
.tableTamanho2 { height: 500px; }
.tableTamanho3 { height: 350px; }

/* TAMANHO INPUT COBRANZAS */
.inputTamanho1 { width: 224px; }
.inputTamanho2 { width: 400px; }
.inputTamanho3 { width: 100px; }
.inputTamanho4 { width: 160px; }
