@import url('pantallas-base.css');

/* TAMANHO DE FORMULARIOS */
.divMenuTamnho2 { width: 350px; min-height: 400px; }
.divMenuTamnho3 { width: 400px; min-height: 400px; }
.divMenuTamnho6 { width: 550px; min-height: 400px; }
.divMenuTamnho10 { width: 750px; min-height: 400px; }
.divMenuTamnho12 { width: 850px; min-height: 400px; }
.divMenuTamnho14 { width: 915px; min-height: 400px; }
.divMenuTamnho21 { width: 1000px; min-height: 400px; }
.divMenuTamnho22 { width: 1020px; min-height: 400px; }
.divMenuTamnho23 { width: 1036px; min-height: 400px; }

/* TAMANHO DE TABLES */
.tableTamanho2 { height: 300px; }
.tableTamanho3 { height: 193px; }

/* TAMANHO INPUT COBRANZAS */
.inputTamanho1 { width: 170px; }
.inputTamanho2 { width: 250px; }
.inputTamanho3 { width: 83px; }
.inputTamanho4 { width: 81px; }
